<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="../../static/css/style.css" rel="stylesheet">
        <link href="../../static/css/update.css" rel="stylesheet">
    </head>
    <body>

       <h1>Update</h1>
       <a href="/">Home</a>

       <h3>Inserir</h3>
       <form id="updateid" action="/insert" method="post">
           <p>
               <label>Nome do Plano</label>
               <input type="text" placeholder="Nome do Plano" name="nome" required="required"/>
           </p>
           <p>
               <label>Preço</label>
               <input type="number" min="0.00" step="0.01" value="0.00" name="preco"/>
           </p>
           <p>
               <label>Quantidade de Páginas</label>
               <input type="number" min="0" placeholder="0" name="qtdPaginas"/>
           </p>
           <p>
               <label>Descrição Curta</label>
               <textarea type="text" placeholder="Descrição Curta" name="descricao"></textarea>
           </p>
           <p>
               <label>Descrição Completa</label>
               <textarea type="text" placeholder="Descrição Completa" name="descricaoCompleta"></textarea>
           </p>
           <p>
               <input type="submit" value="Inserir">
           </p>
       </form>
       <div class="space">
       </div>

       <h3>Planos de Sistema</h3>
       <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Nome</th>
              <th>Preço</th>
              <th>Qtd Páginas</th>
              <th>Descrição Curta</th>
              <th>Descrição Completa</th>
            </tr>
          </thead>
          <tbody>
            <%for (var i=0; i<sistema.length; i++){%>
                <tr>
                    <td><%=sistema[i].nome%></td>
                    <td><%=sistema[i].preco%></td>
                    <td><%=sistema[i].qtdPaginas%></td>
                    <td><%=sistema[i].descricao%></td>
                    <td><%=sistema[i].descricaoCompleta%></td>
                </tr>
            <%}%>
          </tbody>
        </table>

        <hr>

        <h3>Planos de Sites</h3>
        <table class="table">
           <thead class="thead-inverse">
             <tr>
               <th>Nome</th>
               <th>Preço</th>
               <th>Qtd Páginas</th>
               <th>Descrição Curta</th>
               <th>Descrição Completa</th>
             </tr>
           </thead>
           <tbody>
             <%for (var i=0; i<site.length; i++){%>
                 <tr>
                     <td><%=site[i].nome%></td>
                     <td><%=site[i].preco%></td>
                     <td><%=site[i].qtdPaginas%></td>
                     <td><%=site[i].descricao%></td>
                     <td><%=site[i].descricaoCompleta%></td>
                 </tr>
             <%}%>
           </tbody>
         </table>

         <hr>

         <h3>Planos de Blogs</h3>
         <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Qtd Páginas</th>
                <th>Descrição Curta</th>
                <th>Descrição Completa</th>
              </tr>
            </thead>
            <tbody>
              <%for (var i=0; i<blog.length; i++){%>
                  <tr>
                      <td><%=blog[i].nome%></td>
                      <td><%=blog[i].preco%></td>
                      <td><%=blog[i].qtdPaginas%></td>
                      <td><%=blog[i].descricao%></td>
                      <td><%=blog[i].descricaoCompleta%></td>
                  </tr>
              <%}%>
            </tbody>
          </table>

          <hr>

          <h3>Planos de Lojas</h3>
          <table class="table">
             <thead class="thead-inverse">
               <tr>
                 <th>Nome</th>
                 <th>Preço</th>
                 <th>Qtd Páginas</th>
                 <th>Descrição Curta</th>
                 <th>Descrição Completa</th>
               </tr>
             </thead>

             <tbody>
               <%for (var i=0; i<loja.length; i++){%>
                   <tr>
                       <td><%=loja[i].nome%></td>
                       <td><%=loja[i].preco%></td>
                       <td><%=loja[i].qtdPaginas%></td>
                       <td><%=loja[i].descricao%></td>
                       <td><%=loja[i].descricaoCompleta%></td>
                   </tr>
               <%}%>
             </tbody>
           </table>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../../static/js/behavior.js"></script>
    </body>
</html>
